<!DOCTYPE html>
<html>
    <head>
    <title>Plant Catalogue</title>
    </head>

    <body>
        {% for plant in plants %}
        <p>
            <a href="/plants/{{ plant.name }}">{{ plant.name }}</a>
            <form action="/edit/{{ plant.name }}" method="POST">
                <button type="submit">Edit</button>
            </form>
            <form action="/delete/{{ plant.name }}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </p>
        {% endfor %}
    </body>
</html>
