<!DOCTYPE html>
<html>
    <head>
        <title>Forage Tool</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='catalogue.css') }}">
    </head>

    <body>
        <form action="/forageTool/catalogue/{{ page }}" method = "POST" class="catalogue">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <parameter>
                <a class="return" href="/forageTool/">Go back</a>
            </parameter>
            <parameter>
                <label for="filters">Sort in:</label>
                <select name="filter" id="filters">
                    <option value="Name" {% if selected_filter == "Name" %}selected{% endif %}>Name</option>
                    <option value="Rarity" {% if selected_filter == "Rarity" %}selected{% endif %}>Rarity</option>
                    <option value="Area" {% if selected_filter == "Area" %}selected{% endif %}>Area</option>
                    <option value="Region" {% if selected_filter == "Region" %}selected{% endif %}>Region</option>
                    <option value="Effects" {% if selected_filter == "Effects" %}selected{% endif %}>Effects</option>
                    <option value="Description" {% if selected_filter == "Description" %}selected{% endif %}>Description</option>
                </select>
            </parameter>
            <parameter>
                Keyword:
                {% if keyword %}
                    <input type="text" name="keyword" value="{{ keyword }}" />
                {% else %}
                    <input type="text" name="keyword" />
                {% endif %}
            </parameter>
            <button type="submit">Filter</button>
        </form>
        <hr />
        <div class="plants">
            {% for plant in plants %}
                {% if plant.isHidden == 0 or session.isAdmin == 1%}
                    <div class="plant-row">
                        <div class="plant-inner">
                            <a href="/forageTool/plants/{{ plant.plantID }}?source=catalogue&page={{ page }}" class="plant-link">
                                {% if plant.isSecret == 0 or session.isAdmin == 1 or plant.plantName in found | map(attribute='plantName') | list %}
                                <span data-rarid="{{ plant.rarityID }}" class="plant-name">{{ plant.plantName }}</span>
                                {% else %}
                                <span data-rarid="{{ plant.rarityID }}" class="plant-name">?????</span>
                                {% endif %}
                                <span data-rarid="{{ plant.rarityID }}" class="effects">{{ plant.plantEffects.replace(",", ", ") }}</span>
                            </a>
                        </div>
                        {% if session.isAdmin %}
                        <form action="/forageTool/edit/{{ plant.plantName }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/forageTool/delete/{{ plant.plantName }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <button type="submit">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="page">
            <p>
                {% if page > 1 %}
                    <a href="/forageTool/catalogue/{{ page - 1 }}">&lt;&lt;</a>
                {% else %}
                  <span style="visibility: hidden;">&lt;&lt;</span>
                {% endif %}
                Page {{ page }}/{{ page_count }}
                {% if page < page_count %}
                  <a href="/forageTool/catalogue/{{ page + 1 }}">&gt;&gt;</a>
                {% else %}
                  <span style="visibility: hidden;">&gt;&gt;</span>
                {% endif %}
            </p>
        </div>
        <hr />
    </body>
</html>
