<!DOCTYPE html>
<html>
    <head>
        <title>Forage Tool</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>

    <body>
        <h1>Are you sure you want to delete {{ plant.plantName }} from the Catalogue?</h1>
        <form action="/delete/{{ plant.plantName }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit" name="button" value="yes">YES</button>
            <button type="submit" name="button" value="no">NO</button>
        </form>
        <a href="/forageTool//catalogue/1">Go back</a>
    </body>
</html>
