<!DOCTYPE html>
<html>
    <head>
        <title>Forage Tool</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>

    <body>
        {% if plant %}
        <form action="/edit/{{ plant.plantName }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <h1>{{ plant.plantName }}</h1>
            <hr />
            <input type="text" name="Name" value="{{ plant.plantName }}" minlength="3" required>
            <h2>{{ plant.rarity }} plant</h2>
            <label for="Rarity">Rarity:</label>
            <select name="Rarity" id="Rarity">
                {% for r in rarity %}
                    <option value="{{r}}" {% if plant.rarity == r %}selected{% endif %}>{{ r }}</option>
                {% endfor %}
            </select>
            <h2>Found in {{ plant.plantAreas.replace(",", ", ") }} in {{ plant.plantRegions.replace(",", ", ") }}</h2>
            <input type="text" name="Area" value="{{ plant.plantAreas }}" minlength="2" required>
            <input type="text" name="Region" value="{{ plant.plantRegions }}" minlength="2" required>
            <h2>Effects: {{ plant.plantEffects.replace(",", ", ") }}</h2>
            <input type="text" name="Effects" value="{{ plant.plantEffects }}" minlength="2" required>
            <h2>"{{ plant.plantDescription }}"</h2>
            <input type="text" name="Description" value="{{ plant.plantDescription }}" minlength="3" required>
            <p>
                <label>
                <input type="checkbox" name="unobtainable" value="1" {% if plant.unobtainable == 1 %}checked{% endif %}> Is Unobtainable?
                </label>
                <label>
                <input type="checkbox" name="isHidden" value="1" {% if plant.isHidden == 1 %}checked{% endif %}> Is Hidden?
                </label>
                <label>
                <input type="checkbox" name="isSecret" value="1" {% if plant.isSecret == 1 %}checked{% endif %}> Is Secret?
                </label>
            </p>
            <button type="submit" name="button" value="Save">Save changes</button>
        </form>
        {% else %}
        <p>Plant not found.</p>
        {% endif %}
        <h1>{{ message }}</h1>
        <a href="/forageTool/catalogue/1">Go back</a>
    </body>
</html>