<!DOCTYPE html>
<html>
    <head>
    <title>{{ name }}</title>
    </head>

    <body>
        <form action="/inventory/{{ name }}/{{ page }}" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <label for="filters">Search in:</label>
            <select name="filter" id="filters">
                <option value="Name" {% if selected_filter == "Name" %}selected{% endif %}>Name</option>
                <option value="Rarity" {% if selected_filter == "Rarity" %}selected{% endif %}>Rarity</option>
                <option value="Area" {% if selected_filter == "Area" %}selected{% endif %}>Area</option>
                <option value="Region" {% if selected_filter == "Region" %}selected{% endif %}>Region</option>
                <option value="Effects" {% if selected_filter == "Effects" %}selected{% endif %}>Effects</option>
                <option value="Description" {% if selected_filter == "Description" %}selected{% endif %}>Description</option>
            </select>
            Keyword:
            {% if keyword %}
            <input type="text" name="keyword" value="{{ keyword }}" />
            {% else %}
            <input type="text" name="keyword" />
            {% endif %}
            <button type="submit">Filter</button>
        </form>
        <form action="/deleteFolder/{{ name }}" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit">Delete Folder</button>
        </form>
        <form action="/renameFolder/{{ name }}" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="text" name="newName" minlength="1" required/>
            <button type="submit">Rename Folder</button>
        </form>
        <a href="/inventory/1">Go back</a>
        {% for plant in folder %}
        <p>
            <a href="/plants/{{ plant.plantName }}?source={{ 'inventory/' ~ name }}">{{ plant.plantName }} - {{ plant.quantity }}</a>
            <form action="/unfolder/{{ name }}/{{ plant.plantName }}" method = "POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <button type="submit">Return to Inventory</button>
            </form>
        </p>
        {% endfor %}
        <p>
            {% if page > 1 %}
                <a href="/{{ name }}/{{ page - 1 }}">&lt;&lt;</a>
            {% endif %}
            Page {{ page }}/{{ page_count }}
            {% if page < page_count %}
                <a href="/inventory/{{ name }}/{{ page + 1 }}">&gt;&gt;</a>
            {% endif %}
        </p>
    </body>
</html>