<!DOCTYPE html>
<html>
    <head>
    <title>Inventory</title>
    </head>

    <body>
        <form action="/inventory" method = "POST">
            <label for="filters">Sort by:</label>
            <select name="filter" id="filters">
                <option value="Name" {% if selected_filter == "Name" %}selected{% endif %}>Name</option>
                <option value="Rarity" {% if selected_filter == "Rarity" %}selected{% endif %}>Rarity</option>
                <option value="Area" {% if selected_filter == "Area" %}selected{% endif %}>Area</option>
                <option value="Region" {% if selected_filter == "Region" %}selected{% endif %}>Region</option>
                <option value="Effects" {% if selected_filter == "Effects" %}selected{% endif %}>Effects</option>
                <option value="Description" {% if selected_filter == "Description" %}selected{% endif %}>Description</option>
            </select>
            Hakusana:
            {% if keyword %}
            <input type="text" name="keyword" value="{{ keyword }}" />
            {% else %}
            <input type="text" name="keyword" />
            {% endif %}
            <button type="submit">Filter</button>
        </form>
        <a href="/">Go back</a>
        <form action="/newFolder" method = "POST">
            <label for="newFolder">New Folder name: </label>
            <input type="text" name="newFolder" minlength="1" required/>
            <button type="submit">Create new Folder</button>
        </form>
        {% for folderName, count in folders.items() %}
        <p>
            <a href="/inventory/{{ folderName }}">{{ folderName }} - {{ count }}</a>
        </p>
        {% endfor %}
        {% for plant in inventory %}
        <p>
            <a href="/plants/{{ plant.plantName }}?source=inventory">{{ plant.plantName }} - {{ plant.quantity }}</a>
            {% if folders %} 
            <form action="/movePlant/{{ plant.plantName }}" method = "POST">
            <label for="folder">Folder: </label>
            <select name="folder" id="folder">
                {% for folderName, count in folders.items() %}
                    <option value="{{ folderName }}" {% if move_location == folderName %}selected{% endif %}>{{ folderName }}</option>
                {% endfor %}
            </select>
            <button type="submit">Move to folder</button>
            </form>
            {% endif %}
        </p>
        {% endfor %}
    </body>
</html>
