<!DOCTYPE html>
<html>

  <head>
    <title>Forage Tool</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
    {% if session.username %}
    <h1 class="title">Logged in as {{ session.username }}</h1>
    <hr />
    <nav class="navbar">
      <a href="/catalogue/1">Catalogue</a>
      <a href="/inventory/1">Inventory</a>
      <a href="/forage">Forage</a>
      <a href="/profile">Profile</a>
      {% if session.isAdmin %}
        <a href="/import">Import Plants (Admin)</a>
      {% endif %}
      <a href="/logout">Log out</a>
    </nav>
    <hr />
    <news class="news">
      <h1>FORAGE TOOL</h1>
      <h2>Version: {{ news.Version }} - {{ news.Release }}</h2>
      <h3>{{ news.Changes }}</h3>
    </news>
    {% else %}
    <h1 class="title">Forage tool</h1>
    <hr />
    <form action="" class="login" method="POST">
      <p>
        Username: <br />
        <input type="text" name="username" required/>
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" required/>
      </p>
      <input type="submit"/>
      <register>
        <a href="/register">Register new user</a>
      </register>
      <message>
        <h1>{{ message }}</h1>
      </message>
    </form>
    {% endif %}
  </body>
</html>