<!DOCTYPE html>
<html>

<head>
  <title>Main page</title>
</head>

<body>
  {% if session.username %}
  <h1>Logged in as {{ session.username }}</h1>
  <form action="/catalogue/1">
    <button type="submit">See plant catalogue</button>
  </form>
  <form action="/inventory">
    <button type="submit">View Inventory</button>
  </form>
  <form action="/forage">
    <button type="submit">Forage for plants</button>
  </form>
  <form action="/profile">
    <button type="submit">Profile</button>
  </form>
    {% if session.isAdmin %}
    <form action="/import">
        <button type="submit">Import Plants (Admin)</button>
    </form>
    {% endif %}
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form action="/" method="POST">
    <p>
      Username: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit"/>
  </form>
  <p>
    <a href="/register">Register</a>
  </p>
  <h1>{{ message }}</h1>
  {% endif %}
</body>

</html>