<!DOCTYPE html>
<html>
    <head>
    <title>{{ plant.plantName }}</title>
    </head>

    <body>
        {% if plant %}
        <h1>{{ plant.plantName }}</h1>
        <h2>{{ plant.rarity }} plant</h2>
        <h2>Found in {{ plant.plantAreas.replace(",", ", ") }} in {{ plant.plantRegions.replace(",", ", ") }}</h2>
        <h2>Effects: {{ plant.plantEffects.replace(",", ", ") }}</h2>
        <h2>"{{ plant.plantDescription }}"</h2>
        {% else %}
        <p>Plant not found.</p>
        {% endif %}
        <a href="/{{ source }}">Go back</a>
    </body>
</html>