<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
</head>

<body>
  <form action="/profile" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Username: <br />
      <input type="text" name="username" value="{{user.username }}" minlength="3" required/>
    </p>
    <p>
      Enter Survival modifier <br />
      <input type="number" name="bonus" value="0" min="-20" max="40" required />
    </p>
    <p>
      Enter forage Multiplier <br />
      <input type="number" name="multiplier" value="1" min="1" max="10" required />
    </p>
    <label>
      <input type="checkbox" name="admin" value="yes" {% if session.isAdmin %}checked{% endif %}> Admin user?
    </label>
    <input type="submit" value="Save and Exit"/>
    <h1>Times Foraged: {{ statistics.timesForaged }}</h1>
    <h1>Rarest plant found: {{ statistics.highestRarity }}</h1>
    <a href="/">Go back</a>
    <h1>{{ message }}</h1>
  </form>
</body>

</html>