<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  <form action="/register" method="POST">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Re-enter Password: <br />
      <input type="password" name="password2" />
    </p>
    <p>
      Enter Forage bonus <br />
      <input type="text" name="bonus" />
    </p>
    <p>
      Enter forage Multiplier <br />
      <input type="text" name="multiplier" />
    </p>
    <label>
      <input type="checkbox" name="admin" value="yes"> Admin user?
    </label>
    <input type="submit" value="Create account" />
    <h1>{{ message }}</h1>
  </form>
</body>

</html>